@import "../App.css";
.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.home-nav-bar {
  position: relative;
  padding-block: 1.5em;
  border-bottom: 1px solid var(--primary-dark-blue);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.menu-bar {
  display: none;
}
.home-nav-bar ul li {
  list-style-type: none;
  padding-inline: 3em;
}
.home-nav-bar ul li a {
  position: relative;
  text-align: center;
  text-decoration: none;
  color: var(--primary-dark-blue);
  gap: var(--primary-spacer);
  transition: all 1s ease;
}
.home-nav-bar ul li a:hover {
  color: var(--primary-grey);
}
.home-nav-bar ul li a::after {
  content: "";
  width: 0%;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: all 0.75s ease;
  height: 1px;
  background-color: var(--primary-grey);
}
.home-nav-bar ul li a::before {
  content: "";
  width: 0%;
  position: absolute;
  top: -5px;
  right: 0;
  height: 1px;
  background-color: var(--primary-grey);
  transition: all 0.75s ease;
}
.home-nav-bar ul li a:hover::before,
.home-nav-bar ul li a:hover::after {
  width: 100%;
}

.main-body {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.hero-section {
  height: 90vh;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-text-container {
  background-color: var(--primary-yellow);
  height: 35vh;
  border: 1px solid var(--primary-dark-blue);
  width: 100%;
  text-align: center;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: relative;
}
.hero-text-container h1 {
  color: var(--primary-dark-blue);
  font-size: 3em;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hero-text-container h1::after {
  content: "";
  width: 10vw;
  height: 2px;
  border-radius: 999px;
  position: absolute;
  left: 105%;
  background-color: var(--primary-dark-blue);
}
.hero-text-container h1::before {
  content: "";
  width: 10vw;
  height: 2px;
  border-radius: 999px;
  position: absolute;
  right: 105%;
  background-color: var(--primary-dark-blue);
}
.hero-text-container img {
  position: absolute;
  width: 15rem;
  object-fit: contain;
  animation: animateCook 7s ease infinite;
  left: 5%;
  bottom: -20%;
}
@keyframes animateCook {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hero-grid {
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 1fr;
  border-bottom: 1px solid var(--primary-dark-blue);
}
.browse {
  grid-column: 3;
}
.generate {
  grid-row: 2;
  grid-column: 2;
  border-top: 1px solid var(--primary-dark-blue);
}
.grid-btn {
  grid-row: 2;
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top: 1px solid var(--primary-dark-blue);
}
.grid-btn::after {
  content: "";
  position: absolute;
  height: 6vh;
  width: 1px;
  left: 0;
  top: -15%;
  background-color: var(--primary-dark-blue);
}
.grid-btn::before {
  content: "";
  position: absolute;
  height: 2vh;
  width: 1px;
  left: 0;
  bottom: 0;
  background-color: var(--primary-dark-blue);
}
.grid-summary {
  grid-row: 1 / span 2;
  grid-column: 4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: var(--primary-grey);
  padding-block: 2em;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: #000000;
}
.grid-summary h2 {
  font-size: 3.5em;
}

.grid-text {
  display: flex;
  justify-content: center;
  color: var(--primary-grey);
  font-size: 1.75em;
  padding: 1em;
  align-items: center;
}

.btn-hero {
  width: 100%;
  padding: 1em;
  background-color: var(--primary-purple);
  border-radius: 99px;
  color: var(--primary-yellow);
  font-size: 1em;
  border: none;
  box-shadow: var(--primary-button-shadow);
  transition: all 0.25s ease;
}
.btn-hero:hover {
  box-shadow: -1px 1px 0px 0px var(--primary-dark-blue),
    -2px 2px 0px 0px var(--primary-dark-blue),
    -3px 3px 0px 0px var(--primary-dark-blue),
    -4px 4px 0px 0px var(--primary-dark-blue),
    -5px 5px 0px 0px var(--primary-dark-blue),
    -6px 6px 0px 0px var(--primary-dark-blue),
    -7px 7px 0px 0px var(--primary-dark-blue);
}
.btn-hero:active {
  box-shadow: 0px 0px 0px 0px;
  border: 1px solid var(--primary-dark-blue);
  transform: translateY(2px);
}

.scrolldown {
  --color: var(--primary-dark-blue);
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  cursor: pointer;
  margin-block-start: 2em;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px var(--secondary-orange);
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

@media only screen and (max-width: 768px) {
  .home-nav-bar {
    padding-block: 0.75em;
  }
  .home-nav-bar ul {
    display: none;
  }
  .menu-bar {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-dark-blue);
    font-size: 2em;
  }
  .hero-section {
    width: 90%;
    height: fit-content;
    padding-block: 3em;
  }
  .hero-text-container {
    height: fit-content;
    padding-block: 3em;
  }
  .hero-text-container h1 {
    font-size: 1.75em;
  }
  .hero-text-container img {
    width: 30vw;
  }
  .hero-grid {
    border-right: 1px solid var(--primary-dark-blue);
  }
  .grid-text {
    font-size: 0.8em;
  }
  .grid-summary h2 {
    font-size: 1em;
  }
  .browse {
    grid-column: 3 / span 2;
    justify-self: center;
  }
  .grid-summary {
    grid-row: 2;
    padding: 0;
    border-top: 1px solid var(--primary-dark-blue);
    grid-column: 3 / span 2;
    display: flex;
    flex-direction: row;
    border-right: 0px;
  }
  .grid-btn {
    padding-block: 1em;
    grid-row: 3 / span 1;
    grid-column: 2 / span 3;
  }
  .grid-btn a {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .grid-btn::before,
  .grid-btn::after {
    display: none;
  }
  .scrolldown {
    display: none;
  }
}
