.diet-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-height: 25vh;
  border-radius: 3px;
  border: none;
  padding: 0.5em;
  gap: 0.75em;
}
.diet-card h3 {
  font-size: 1em;
  font-weight: lighter;
  font-family: var(--secondary-font);
}
.diet-card-normal {
  background-color: var(--primary-grey) !important;
}
.diet-card-selected {
  background-color: var(--primary-green) !important;
}
.btn-diet {
  border-radius: 4px;
  padding: 0.25em 0.95em;
  font-size: 0.7em;
  background-color: transparent;
  transition: transform 0.5s ease;
}
.btn-diet:hover {
  transform: scale(1.1);
  color: var(--primary-white);
}
.button-normal {
  border: 1px solid var(--primary-green);
  color: var(--primary-green);
}
.button-normal:hover {
  background-color: var(--primary-green);
}
.button-selected {
  background-color: var(--primary-red);
  color: var(--primary-red);
}
.button-selected:hover {
  background-color: var(--primary-red);
}
.diet-image {
  width: 5em;
  object-fit: contain;
}

.diets-container {
  width: 100%;
  display: grid;
  padding-block: 1em;
  grid-template-columns: repeat(auto-fit, minmax(7vw, 9vw));
  /* display: flex;
  flex-direction: row; */
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.invisible {
  display: none !important;
}
.sidenav {
  width: 100%;
  height: 100vh;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--primary-orange);
  color: var(--primary-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.links-list {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.links-list a {
  text-decoration: none;
  display: flex;
  height:100%;
  width: 100%;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  color: var(--primary-dark-blue);
  text-transform: uppercase;
  font-family: var(--secondary-font);
  transition: all 1s ease;
}
.links-list a:hover,
.links-list a:focus,
.links-list a:active {
  background-color: var(--secondary-orange);
  color: var(--primary-grey);
}
