.diet-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-height: 25vh;
  border-radius: 3px;
  border: none;
  padding: 0.5em;
  gap: 0.75em;
}
.diet-card h3 {
  font-size: 1em;
  font-weight: lighter;
  font-family: var(--secondary-font);
}
.diet-card-normal {
  background-color: var(--primary-grey) !important;
}
.diet-card-selected {
  background-color: var(--primary-green) !important;
}
.btn-diet {
  border-radius: 4px;
  padding: 0.25em 0.95em;
  font-size: 0.7em;
  background-color: transparent;
  transition: transform 0.5s ease;
}
.btn-diet:hover {
  transform: scale(1.1);
  color: var(--primary-white);
}
.button-normal {
  border: 1px solid var(--primary-green);
  color: var(--primary-green);
}
.button-normal:hover {
  background-color: var(--primary-green);
}
.button-selected {
  background-color: var(--primary-red);
  color: var(--primary-red);
}
.button-selected:hover {
  background-color: var(--primary-red);
}
.diet-image {
  width: 5em;
  object-fit: contain;
}

.diets-container {
  width: 100%;
  display: grid;
  padding-block: 1em;
  grid-template-columns: repeat(auto-fit, minmax(7vw, 9vw));
  /* display: flex;
  flex-direction: row; */
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.invisible {
  display: none !important;
}

.links-list {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.links-list a {
  text-decoration: none;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  color: var(--primary-dark-blue);
  text-transform: uppercase;
  font-family: var(--secondary-font);
  transition: all 1s ease;
}
.links-list a:hover,
.links-list a:focus,
.links-list a:active {
  background-color: var(--secondary-orange);
  color: var(--primary-grey);
}

.menu-bar {
  display: none;
}
.sidenav {
  display: none;
}
.menu-btn {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  font-size: 1em;
  color: var(--primary-dark-blue);
}

.pick-of-week {
  width: 75%;
  height: 50vh;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--primary-grey);
}
.right-card {
  width: 100%;
  height: 100%;
}
.right-card img {
  width: 100%;
  object-fit: cover;
  height: 50vh;
  border-radius: 0px 5px 5px 0px;
}
.left-card {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.card-head {
  align-items: start;
  justify-content: center;
  width: 75%;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
}
.card-head::after {
  content: "";
  margin-top: 0.5em;
  position: relative;
  width: 75%;
  height: 2px;
  background-color: var(--primary-dark-blue);
  border-radius: 1px solid var(--primary-dark-blue);
}
.recipe-contents {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 1em;
}
.recipe-title {
  font-size: 1.75em;
}
.recipe-desc {
  width: 75%;
  text-align: left;
}
.btn-recipe {
  width: 50%;
  color: var(--primary-dark-blue);
  background-color: var(--primary-white);
  border: none;
}

.recipe-card {
  height: 25vh;
  background: var(--primary-yellow);
  width: 100%;
  border-radius: 5px;
  box-shadow: var(--primary-shadow);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  box-shadow: var(--primary-shadow);
}
.contents-wrapper {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.card-title {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card-preferences {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.card-preferences img {
  width: 100%;
  object-fit: contain;
}
.card-contents {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.card-btn button {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--primary-purple);
  color: var(--primary-purple);
  border-radius: 5px;
  transition: all 0.5s ease;
  padding: 0.75em 0.5em;
  text-transform: uppercase;
  text-align: center;
}
.card-btn button:hover {
  background-color: var(--primary-purple);
  color: var(--primary-white);
}
.empty-card {
  width: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: var(--primary-yellow);
  padding: 1em;
  position: absolute;
  border-radius: 5px;
  box-shadow: var(--primary-shadow);
}
.add-link {
  text-decoration: none;
  background-color: var(--primary-yellow);
  border: 1px solid var(--primary-purple);
  padding: 0.5em;
  border-radius: 3px;
  color: var(--primary-purple);
  transition: all 0.5s ease;
}
.add-link:hover {
  background-color: var(--primary-purple);
  color: var(--primary-dark-blue);
}

.full-recipe {
  background-color: var(--primary-orange);
  width: 50%;
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translateY(50%) translateX(50%);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 1px solid var(--primary-dark-blue);
  z-index: 99;
}
.wrapper {
  background-color: transparent;
  backdrop-filter: blur(3px);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.close-details {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  padding: 0;
  margin: 0;
}
.btn-close-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0.75em;
  background-color: transparent;
  color: var(--primary-dark-blue);
  border: 2px solid var(--primary-dark-blue);
  transition: all 0.5s ease;
}
.btn-close-tab:hover {
  background-color: var(--primary-dark-blue);
  color: var(--primary-grey);
}
.title {
  text-transform: uppercase;
  font-family: var(--secondary-font);
  font-size: 2em;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.title::after {
  content: "";
  background-color: var(--primary-dark-blue);
  height: 2px;
  width: 100%;
  position: relative;
}
.ingredient-span {
  width: 90%;
  background-color: var(--primary-golden);
  padding: 0.5em 0.75em;
  border-radius: 99px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.ingredient-span-container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 0.25fr));
  gap: 0.75em;
}
.procedure-cont ul {
  list-style-type: decimal;
  line-height: 1.75em;
  padding-inline-start: 40px;
}
.owner {
  display: flex;
  flex-direction: row-reverse;
}
.owner p {
  font-size: 1em;
}

@media only screen and (max-width: 768px) {
  .sidenav {
    width: 100%;
    height: 100vh;
    z-index: 99;
    top: 0;
    position: fixed;
    background-color: var(--primary-orange);
    color: var(--primary-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    border-left: 1px solid var(--primary-dark-blue);
  }
  .empty-card{
    width: 75%;
  }
  .empty-card h4{
    display: flex;
    flex-direction: column;
  }
  .empty-card h4 a{
    width: fit-content;
  }
  .menu-bar {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-dark-blue);
    font-size: 2em;
    background-color: var(--primary-orange);
  }
  .pick-of-week {
    width: 90%;
    grid-template-columns: 1fr;
    height: fit-content;
  }
  .right-card {
    grid-row: 1;
  }
  .right-card img {
    height: 20vh;
    border-radius: 5px 5px 0px 0px;
  }
  .left-card {
    grid-row: 2;
    gap: 1em;
    padding-bottom: 1.75em;
  }
  .card-head {
    font-size: 1em;
    width: 80%;
  }
  .recipe-title {
    font-size: 1.5em;
  }
  .recipe-contents {
    width: 80%;
  }
  .recipe-desc {
    width: 100%;
    text-align: justify;
  }
  .btn {
    padding: 0.5em 0.5em;
  }
  .btn-recipe {
    padding: 0.5em 0.5em;
    width: 75%;
    color: var(--primary-dark-blue);
  }
  .contents-wrapper {
    gap: 0.75em;
  }
  .full-recipe {
    width: 90%;
    border: none;
    bottom: 0;
    top: 10%;
    right: 0;
    transform: none;
    justify-self: center;
  }
  .ingredient-span-container {
    border: 1px solid var(--primary-dark-blue);
    grid-template-columns: 1fr;
    max-height: 50vh;
    overflow-y: scroll;
    padding: 0.5em 0.5em;
  }
  .ingredient-span {
    box-shadow: var(--primary-shadow);
  }
}
.sample-card {
  background-color: var(--primary-yellow);
  width: 20vw;
  height: 30vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
