.all-recipes {
  width: 80%;
  display: flex;
  flex-direction: row;
  padding-block: 1em;
  justify-self: center;
}
.filter {
  width: 20%;
}
.recipes-body-section {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
}
.search-bar-container {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.search-bar {
  position: relative;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.search-bar input {
  border-radius: 5px 0px 0px 5px;
  width: 100%;
}
.search-bar i {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  position: relative;
  background-color: var(--primary-grey);
  color: var(--primary-dark-blue);
  border-radius: 0px 5px 5px 0px;
  transition: transform 0.5s ease;
  height: 100%;
}

.search-bar input {
  height: fit-content;
  transform: none;
}
.filter-container {
  width: 100%;
}

.recipe-cards-container {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
}

@media only screen and (max-width: 768px) {
  .filter {
    width: 0;
  }
  .search-bar {
    width: 100%;
    align-items: center;
  }
  .recipes-body-section {
    width: 100%;
  }
  .search-bar-container {
    gap: 1em;
  }
  .filter-container button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--primary-grey);
  }
}
