@import url("https://fonts.googleapis.com/css2?family=K2D:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --primary-orange: #ff5400;
  --primary-yellow: #ffbd00;
  --secondary-orange: #ff6f00;
  --primary-golden: #cca711;
  --primary-dark-blue: #1e1e1e;
  --primary-grey: #d9d9d9;
  --primary-grey-dark: #838383;
  --primary-green: #008f3b;
  --primary-purple: #4940fd;
  --primary-white: #fff;
  --primary-red: #d84444;

  --primary-font: "K2D", sans-serif;
  --secondary-font: "Bebas Neue", cursive;

  --primary-shadow: 4px 4px 0px 0px var(--primary-dark-blue);
  --primary-dark-shadow: 10px 10px 0px 0px var(--primary-dark-blue);
  --primary-button-shadow: -1px 1px 0px 0px var(--primary-dark-blue),
    -2px 2px 0px 0px var(--primary-dark-blue),
    -3px 3px 0px 0px var(--primary-dark-blue),
    -4px 4px 0px 0px var(--primary-dark-blue),
    -5px 5px 0px 0px var(--primary-dark-blue);

  --primary-spacer: 1rem;
}

* {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0.5vw;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-grey);
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

body {
  margin: 0;
  width: 100vw;
  max-width: 100%;
  height: fit-content;
  position: relative;
  background-color: var(--primary-orange);
}

.flex-col {
  display: inline-flex;
  flex-direction: column;
}

.flex-row {
  display: inline-flex;
  flex-direction: row;
}

.logo {
  background-color: var(--primary-yellow);
  color: var(--primary-dark-blue);
  height: 100%;
  width: fit-content;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--primary-dark-blue);
}

.logo a {
  color: var(--primary-dark-blue);
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .logo {
    position: relative;
    width: 100%;
    height: 100%;
  }
  p {
    font-size: 0.75em;
  }
}
